<template>
    <div class="container">

        <v-row>
            <v-col
            cols="3"
            v-for="p in pengaduan" :key="p.id_pengaduan">
                <v-card
                    class="mx-auto"
                    max-width="400"
                >
                    <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title>Pengaduan #{{p.id_pengaduan}}</v-list-item-title>
                        <v-list-item-subtitle>{{p.created_at}}</v-list-item-subtitle>
                    </v-list-item-content>
                    </v-list-item>


                    <v-list-item v-on:click="OpenTanggapan()">
                    <v-list-item-subtitle>Jumlah Tanggapan : {{tanggapan.length}}</v-list-item-subtitle>
                    </v-list-item>

                    <v-list-item v-on:click="OpenKomentar()">
                    <v-list-item-subtitle>Jumlah Komentar : {{komentar.length}}</v-list-item-subtitle>
                    </v-list-item>

                    <v-list class="transparent">
                    <v-list-item>
                        <v-list-item-subtitle>
                        Status : {{p.status}}
                        </v-list-item-subtitle>
                    </v-list-item>
                    </v-list>

                    <v-divider></v-divider>

                    <v-card-actions v-if="uinfo.id == p.nis">
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" v-on:click="OpenPesan()">Pesan</v-btn>
                    </v-card-actions>
                </v-card>

                <v-btn class="mt-2" color="primary"
                v-on:click="StatusSelesai()"
                v-if="p.status != 'selesai' && p.nis == uinfo.id && p.status == 'proses'">Selesai</v-btn>
            </v-col>

            <!-- PENGADUANNYA -->
            <v-col cols="9">
                <v-card
                    class="mx-auto mb-6"
                    v-for="p in pengaduan" :key="p.id_pengaduan"
                >
                    <v-list-item>
                    <v-list-item-avatar color="grey">
                        <v-img
                            :src="'/dist/img/siswa/'+p.nis"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-subtitle class="subtitle-1 font-weight-black">{{p.judul}}</v-list-item-subtitle>
                        <v-list-item-subtitle>Oleh {{p.nama}}</v-list-item-subtitle>
                    </v-list-item-content>
                    </v-list-item>
                    <v-card-text v-html="p.isi_laporan"></v-card-text>
                        <v-img
                            :src="'/dist/img/attachments/'+p.id_pengaduan"
                        ></v-img>
                </v-card>
            </v-col>

        </v-row>

        <!-- DIALOG -->
    <v-dialog v-model="dialogKomentar" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card
    class="overflow-hidden mx-auto">
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialogKomentar = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Komentar terhadap pengaduan {{id_pengaduan}}</v-toolbar-title>
        </v-toolbar>
        <v-form v-model="valid">
    <v-bottom-navigation
    v-if="status != 'selesai'"
      absolute
      horizontal
    >
            <v-text-field
                v-show="false"
                v-model="id_pengaduan"
                :rules="Rules"
            ></v-text-field>
            <v-text-field
                label="Komentar"
                placeholder="Komentar anda..."
                outlined
                type="text"
                v-model="komentaruser"
                :rules="Rules"
            ></v-text-field>
            <v-btn
                v-on:click="Komentari()"
                :disabled="!valid">
            <v-icon>mdi-send</v-icon>
            </v-btn>
    </v-bottom-navigation>
    
    <v-bottom-navigation
      absolute
      horizontal
      v-else
    >
      <v-label>Pengaduan ini telah selesai.</v-label>
    </v-bottom-navigation>
        </v-form>

    <v-sheet
      class="overflow-y-auto"
      max-height="500"
    >
        <v-list two-line>
          <v-list-item v-for="k in komentar" :key="k.id">
            <v-list-item-avatar>
              <v-img :src="'/dist/img/siswa/'+k.nis"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{k.nama}} <small> Pada {{k.created_at}}</small></v-list-item-title>
              <v-list-item-subtitle>{{k.komentar}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
    </v-sheet>

      </v-card>
    </v-dialog>

    <!-- DIALOG TANGGAPAN -->

    <v-dialog v-model="dialogTanggapan" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card
    class="overflow-hidden mx-auto">
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialogTanggapan = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Tanggapan terhadap pengaduan {{id_pengaduan}}</v-toolbar-title>
        </v-toolbar>

    <v-bottom-navigation
      absolute
      horizontal
    >
      <v-label>Hanya petugas yang boleh menanggapi.</v-label>
    </v-bottom-navigation>

    <v-sheet
      class="overflow-y-auto"
      max-height="500"
    >
        <v-list two-line>
          <v-list-item v-for="t in tanggapan" :key="t.id_tanggapan">
            <v-list-item-avatar>
              <v-img :src="'/dist/img/petugas/'+t.id_petugas"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{t.nama}} <small> Pada {{t.created_at}}</small></v-list-item-title>
              <v-list-item-subtitle>{{t.tanggapan}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
    </v-sheet>

      </v-card>
    </v-dialog>

    <!-- DIALOG PESAN -->

    <v-dialog v-model="dialogPesan" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card
    class="overflow-hidden mx-auto">
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialogPesan = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Pesan terhadap pengaduan {{id_pengaduan}}</v-toolbar-title>
        </v-toolbar>
        <v-form v-model="valid">
    <v-bottom-navigation
      absolute
      horizontal
      v-if="status != 'selesai'"
    >
            <v-text-field
                v-show="false"
                v-model="id_pengaduan"
                :rules="Rules"
            ></v-text-field>
            <v-text-field
                label="Pesan"
                placeholder="Pesan anda..."
                outlined
                type="text"
                v-model="pesanuser"
                :rules="Rules"
            ></v-text-field>
            <v-btn
                v-on:click="KirimPesan()"
                :disabled="!valid">
            <v-icon>mdi-send</v-icon>
            </v-btn>
    </v-bottom-navigation>
    <v-bottom-navigation
      absolute
      horizontal
      v-else
    >
      <v-label>Pengaduan ini telah selesai.</v-label>
    </v-bottom-navigation>
        </v-form>
    <v-sheet
      class="overflow-y-auto"
      max-height="600"
      height="600"
    >
        <v-list two-line>
          <v-list-item v-for="ps in pesan" :key="ps.id">
                <v-list-item-avatar v-if="ps.petugas == null">
                  <v-img :src="'/dist/img/siswa/'+ps.idp"></v-img>
                </v-list-item-avatar>
                <v-list-item-avatar v-else>
                  <v-img :src="'/dist/img/petugas/'+ps.idp"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title v-if="ps.petugas == null">{{ps.siswa}} <small> Pada {{ps.created_at}}</small></v-list-item-title>
                  <v-list-item-title v-else>{{ps.siswa}} <small> Pada {{ps.created_at}}</small></v-list-item-title>
                  <v-list-item-subtitle>{{ps.pesan}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
        </v-list>
    </v-sheet>
      </v-card>
    </v-dialog>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                id_pengaduan: '',
                status: '',
                pengaduan: [],
                siswa: [],
                tanggapan: [],
                pesan: [],
                komentar: [],
                uinfo: [],
                dialogKomentar: false,
                dialogTanggapan: false,
                dialogPesan: false,
                valid: false,
                status: '',
                Rules: [
                    (v) => !!v || 'Form harus diisi',
                ],
                komentaruser: '',
                pesanuser: ''
            }
        },
        methods: {
            getTask() {
                this.id_pengaduan = this.$route.params.id;
                axios.get('/GetPengaduan/'+this.id_pengaduan).then(
                    result => {
                        this.pengaduan = result.data;
                        this.status = result.data[0]["status"];
                    }
                )
                axios.get('/GetKomentar/'+this.id_pengaduan).then(
                    result => {
                        this.komentar = result.data;
                    }
                );
                axios.get('/GetTanggapan/'+this.id_pengaduan).then(
                    result => {
                        this.tanggapan = result.data;
                    }
                );
                axios.get('/GetUserInfo').then(
                    result => {
                        this.uinfo = result.data;
                    }
                );
            },
            OpenTanggapan() {
                axios.get('/GetTanggapan/'+this.id_pengaduan).then(
                    result => {
                        this.tanggapan = result.data
                    }
                )
                this.dialogTanggapan = !this.dialogTanggapan;
            },
            OpenKomentar() {
                axios.get('/GetKomentar/'+this.id_pengaduan).then(
                    result => {
                        this.komentar = result.data
                    }
                )
                this.dialogKomentar = !this.dialogKomentar;
            },
            OpenPesan() {
                axios.get('/GetPesan/'+this.id_pengaduan).then(
                    result => {
                        this.pesan = result.data
                    }
                )
                this.dialogPesan = !this.dialogPesan;
            },
            Komentari() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Insert/Komentar', {
                    id_pengaduan: this.id_pengaduan,
                    nis: this.uinfo["id"],
                    komentar: this.komentaruser
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di input.'
                    })
                });
                this.komentaruser = '';
                axios.get('/GetKomentar/'+this.id_pengaduan).then(
                    result => {
                        this.komentar = result.data
                    }
                );
            },
            KirimPesan() {
              axios.post('/Insert/Pesan', {
                id_pengaduan: this.id_pengaduan,
                idp: this.uinfo["id"],
                pesan: this.pesanuser
              }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di input.'
                    });
              });
              this.pesanuser = '';
              axios.get('/GetPesan/'+this.id_pengaduan).then(
                result => {
                  this.pesan = result.data
                }
              );
            },
            StatusSelesai() {
              axios.post('/Update/Status', {
                id_pengaduan: this.id_pengaduan
              }).then(function(response) {
                     _Swal.fire({
                        type: 'success',
                        title: 'Pengaduan Selesai, Terima kasih.'
                    })
                }).catch(function(error) {
                     _Swal.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan!'
                    })
                });
                this.getTask();
            }
        },
        mounted() {
            this.getTask();
        }
    }
</script>
