<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Silahkan Buat Akun</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
                <v-form action="/Create/Admin" method="post" v-model="valid" id="formid" >
                    <v-card-text>
                        <v-text-field
                            :value="csrf"
                            name="_token"
                            v-show="false"
                        />
                        <v-text-field
                            label="Nama"
                            name="nama"
                            prepend-icon="mdi-account"
                            type="text"
                            :rules="Rules"
                            v-model="nama"
                            required
                        />
                            <v-text-field
                                type="number"
                                name="telp"
                                v-model="telp"
                                prepend-icon="mdi-phone"
                                label="Telp"
                                :rules="Rules"
                                counter="15"
                            />
                        <v-select
                            label="Jenis Kelamin"
                            name="jk"
                            v-model="jk"
                            :items="jenis"
                            item-text="jenis"
                            item-value="jenis"
                            required></v-select>
                            <v-text-field
                                type="date"
                                name="tgl_lahir"
                                v-model="tgl_lahir"
                                prepend-icon="mdi-text"
                                label="Tanggal Lahir"
                                :rules="Rules"
                            />
                            <v-textarea
                            label="Alamat"
                            v-model="alamat"
                            name="alamat"
                            :rules="Rules"
                            rows="2"/>
                        <v-text-field
                            label="Username"
                            name="username"
                            prepend-icon="mdi-account"
                            type="text"
                            :rules="usernameRules"
                            v-model="username"
                            required
                        />
                        <v-text-field
                            id="password"
                            label="Password"
                            name="password"
                            prepend-icon="mdi-tablet-dashboard"
                            type="password"
                            :rules="passwordRules"
                            v-model="password"
                            required
                        />
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn color="primary" v-on:click="tekan()" :disabled="!valid">Buat</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
          </v-col>
        </v-row>


      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data() {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            valid: false,
            nama: '',
            jk: '',
            telp: '',
            tgl_lahir: '',
            alamat: '',
            jenis: [{"jenis": 'L'}, {"jenis": 'P'}],
            username: '',
            password: '',
            usernameRules: [
              (v) => !!v || 'Username harus diisi',
            ],
            passwordRules: [
              (v) => !!v || 'Password harus diisi',
            ],
            Rules: [
              (v) => !!v || 'Field harus diisi',
            ],
        }
    },
    methods: {
        tekan() {
            formid.submit();
        },
    }
  }
</script>
