<template>
    <div class="container">

        <v-row class="mx-2">
            <v-col
                class="align-center justify-space-between"
                cols="6"
            >
                <v-card>
                    <v-card-title> Daftar Tingkat <v-spacer></v-spacer>
                    <v-btn
                    color="primary"
                    small
                    v-on:click="FormTingkat()">
                        Tambah Tingkat
                    </v-btn></v-card-title>
                    <v-container>
                        <v-data-table
                            :headers="tingkatheader"
                            :items="tingkat"
                            loading-text="Mengambil data... Mohon tunggu"
                        >
                            <template v-slot:item="row">
                                <tr>
                                    <td align="center">{{row.item.id_tingkat}}</td>
                                    <td align="center">{{row.item.nama}}</td>
                                    <td align="center">
                                        <v-btn
                                            small
                                            color="success"
                                            v-on:click="TingkatUpdate(row.item)"
                                        >
                                            <v-icon>mdi-circle-edit-outline</v-icon>
                                        </v-btn>
                                        <v-btn
                                            small
                                            color="error"
                                            v-on:click="TingkatHapus(row.item)"
                                        >
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-container>
                </v-card>
            </v-col>

            <v-col
                class="align-center justify-space-between"
                cols="6"
            >
                <v-card>
                    <v-card-title> Daftar Kelas <v-spacer></v-spacer>
                    <v-btn
                    color="primary"
                    small
                    v-on:click="FormKelas()">
                        Tambah Kelas
                    </v-btn></v-card-title>
                    <v-container>
                        <v-data-table
                            :headers="kelasheader"
                            :items="kelas"
                            loading-text="Mengambil data... Mohon tunggu"
                        >
                            <template v-slot:item="row">
                                <tr>
                                    <td align="center">{{row.item.id_kelas}}</td>
                                    <td align="center">{{row.item.nama}}</td>
                                    <td align="center">
                                        <v-btn
                                            small
                                            color="success"
                                            v-on:click="KelasUpdate(row.item)"
                                        >
                                            <v-icon>mdi-circle-edit-outline</v-icon>
                                        </v-btn>
                                        <v-btn
                                            small
                                            color="error"
                                            v-on:click="KelasHapus(row.item)"
                                        >
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-container>
                </v-card>
            </v-col>

            <v-col
                class="align-center justify-space-between"
                cols="12"
            >
                <v-card>
                    <v-card-title> Daftar Jurusan <v-spacer></v-spacer>
                    <v-btn
                    color="primary"
                    small
                    v-on:click="FormJurusan()">
                        Tambah Jurusan
                    </v-btn></v-card-title>
                    <v-container>
                        <v-data-table
                            :headers="jurusanheader"
                            :items="jurusan"
                            loading-text="Mengambil data... Mohon tunggu"
                        >
                            <template v-slot:item="row">
                                <tr>
                                    <td align="center">{{row.item.id_jurusan}}</td>
                                    <td align="center">{{row.item.nama_lengkap}}</td>
                                    <td align="center">{{row.item.nama_singkat}}</td>
                                    <td align="center">
                                        <v-btn
                                            small
                                            color="success"
                                            v-on:click="JurusanUpdate(row.item)"
                                        >
                                            <v-icon>mdi-circle-edit-outline</v-icon>
                                        </v-btn>
                                        <v-btn
                                            small
                                            color="error"
                                            v-on:click="JurusanHapus(row.item)"
                                        >
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-container>
                </v-card>
            </v-col>
        </v-row>


    <!-- Dialog Untuk Daftar Tingkat -->
    <v-dialog
      v-model="TingkatDialog"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Form Tingkat
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="id_tingkat"
                                prepend-icon="mdi-account-card-details-outline"
                                label="ID Tingkat"
                                :rules="Rules"
                                readonly
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama_tingkat"
                                prepend-icon="mdi-account-card-details-outline"
                                label="Nama"
                                :rules="Rules"
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="TingkatDialog = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="SubmitTingkat()"
                :disabled="!valid"
            >Submit</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="HapusTingkatDialog"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Hapus Tingkat?
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="id_tingkat"
                                prepend-icon="mdi-account-card-details-outline"
                                label="ID Tingkat"
                                readonly
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama_tingkat"
                                prepend-icon="mdi-account-card-details-outline"
                                label="Nama"
                                readonly
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="TingkatDialog = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="HapusTingkat()"
                :disabled="!valid"
            >Submit</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <!-- END Dialog Untuk Daftar Tingkat -->



    <!-- Dialog Untuk Daftar Kelas -->
    <v-dialog
      v-model="KelasDialog"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Form Kelas
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="id_kelas"
                                prepend-icon="mdi-account-card-details-outline"
                                label="ID Kelas"
                                :rules="Rules"
                                readonly
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama_kelas"
                                prepend-icon="mdi-account-card-details-outline"
                                label="Nama"
                                :rules="Rules"
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="KelasDialog = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="SubmitKelas()"
                :disabled="!valid"
            >Submit</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="HapusKelasDialog"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Hapus Kelas?
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="id_kelas"
                                prepend-icon="mdi-account-card-details-outline"
                                label="ID Kelas"
                                readonly
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama_kelas"
                                prepend-icon="mdi-account-card-details-outline"
                                label="Nama"
                                readonly
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="KelasDialog = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="HapusKelas()"
                :disabled="!valid"
            >Submit</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <!-- END Dialog Untuk Daftar Kelas -->



    <!-- Dialog Untuk Daftar Jurusan -->
    <v-dialog
      v-model="JurusanDialog"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Form Jurusan
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="id_jurusan"
                                prepend-icon="mdi-account-card-details-outline"
                                label="ID Jurusan"
                                :rules="Rules"
                                readonly
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama_lengkap"
                                prepend-icon="mdi-account-card-details-outline"
                                label="Nama Jurusan"
                                :rules="Rules"
                                counter="30"
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama_singkat"
                                prepend-icon="mdi-account-card-details-outline"
                                label="Singkatan"
                                :rules="Rules"
                                counter="10"
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="JurusanDialog = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="SubmitJurusan()"
                :disabled="!valid"
            >Submit</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="HapusJurusanDialog"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Hapus Jurusan?
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="id_jurusan"
                                prepend-icon="mdi-account-card-details-outline"
                                label="ID Jurusan"
                                readonly
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama_lengkap"
                                prepend-icon="mdi-account-card-details-outline"
                                label="Nama Jurusan"
                                :rules="Rules"
                                readonly
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama_singkat"
                                prepend-icon="mdi-account-card-details-outline"
                                label="Singkatan"
                                :rules="Rules"
                                readonly
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="JurusanDialog = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="HapusJurusan()"
                :disabled="!valid"
            >Submit</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <!-- END Dialog Untuk Daftar Jurusan -->

    </div>
</template>

<script>
    export default {
        data() {
            return {
                search: '',
                id_tingkat: '',
                nama_tingkat: '',
                TingkatDialog: false,
                HapusTingkatDialog: false,
                id_kelas: '',
                nama_kelas: '',
                KelasDialog: false,
                HapusKelasDialog: false,
                id_jurusan: '',
                nama_singkat: '',
                nama_lengkap: '',
                JurusanDialog: false,
                HapusJurusanDialog: false,
                drawer: null,
                valid: false,
                kelasheader: [
                    { text: 'ID Kelas', value: 'id_kelas', align: 'center'},
                    { text: 'Nama Kelas', value: 'nama', align: 'center'},
                    { text: 'Aksi', align: 'center'}
                ],
                tingkatheader: [
                    { text: 'ID Tingkat', value: 'id_tingkat', align: 'center'},
                    { text: 'Nama Kelas', value: 'nama', align: 'center'},
                    { text: 'Aksi', align: 'center'}
                ],
                jurusanheader: [
                    { text: 'ID Jurusan', value: 'id_jurusan', align: 'center'},
                    { text: 'Nama Jurusan', value: 'nama_lengkap', align: 'center'},
                    { text: 'Singkatan', value: 'nama_singkat', align: 'center'},
                    { text: 'Aksi', align: 'center'}
                ],
                tingkat: [],
                jurusan: [],
                kelas: [],
                O_tingkat: '',
                O_kelas: '',
                O_jurusan: '',
                Rules: [
                    (v) => !!v || 'Form harus diisi',
                ],
            }
        },
        methods: {
            getTask() {
                axios.get('/GetTingkat').then(
                    result => {
                        this.tingkat = result.data
                    }
                );
                axios.get('/GetJurusan').then(
                    result => {
                        this.jurusan = result.data
                    }
                );
                axios.get('/GetKelas').then(
                    result => {
                        this.kelas = result.data
                    }
                );
                axios.get('/KodeOtomatis').then(
                    result => {
                        this.kode_otomatis = result.data;
                        this.O_tingkat = result.data["id_tingkat"];
                        this.O_kelas = result.data["id_kelas"];
                        this.O_jurusan = result.data["id_jurusan"];
                    }
                );
            },
            FormTingkat() {
                this.ClearTingkat();
                this.TingkatDialog = !this.TingkatDialog;
            },
            SubmitTingkat() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Insert/Tingkat', {
                    id_tingkat: this.id_tingkat,
                    nama: this.nama_tingkat
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di input.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di input.'
                    });
                });
                this.TingkatDialog = false;
                this.getTask();
                this.ClearTingkat();
            },
            HapusTingkat() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Delete/Tingkat', {
                    id_tingkat: this.id_tingkat,
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di hapus.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di hapus.'
                    })
                });
                this.getTask();
                this.HapusTingkatDialog = false;
                this.ClearTingkat();
            },
            TingkatUpdate(item) {
                const found = this.tingkat.find(cari => cari.id_tingkat === item.id_tingkat);
                this.id_tingkat = found["id_tingkat"];
                this.nama_tingkat = found["nama"];
                this.TingkatDialog = !this.TingkatDialog;
            },
            TingkatHapus(item) {
                const found = this.tingkat.find(cari => cari.id_tingkat === item.id_tingkat);
                this.id_tingkat = found["id_tingkat"];
                this.nama_tingkat = found["nama"];
                this.HapusTingkatDialog = !this.HapusTingkatDialog;
            },
            ClearTingkat() {
                this.id_tingkat = this.O_tingkat;
                this.nama_tingkat = '';
            },
            // =========================== UNTUK KELAS ============================

            FormKelas() {
                this.ClearKelas();
                this.KelasDialog = !this.KelasDialog;
            },
            SubmitKelas() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Insert/Kelas', {
                    id_kelas: this.id_kelas,
                    nama: this.nama_kelas
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di input.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di input.'
                    })
                });
                this.KelasDialog = false;
                this.getTask();
                this.ClearKelas();
            },
            HapusKelas() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Delete/Kelas', {
                    id_kelas: this.id_kelas,
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di hapus.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di hapus.'
                    })
                });
                this.getTask();
                this.HapusKelasDialog = false;
                this.ClearKelas();
            },
            KelasUpdate(item) {
                const found = this.kelas.find(cari => cari.id_kelas === item.id_kelas);
                this.id_kelas = found["id_kelas"];
                this.nama_kelas = found["nama"];
                this.KelasDialog = !this.KelasDialog;
            },
            KelasHapus(item) {
                const found = this.kelas.find(cari => cari.id_kelas === item.id_kelas);
                this.id_kelas = found["id_kelas"];
                this.nama_kelas = found["nama"];
                this.HapusKelasDialog = !this.HapusKelasDialog;
            },
            ClearKelas() {
                this.id_kelas = this.O_kelas;
                this.nama_kelas = '';
            },


            // =========================== UNTUK JURUSAN ============================

            FormJurusan() {
                this.ClearJurusan();
                this.JurusanDialog = !this.JurusanDialog;
            },
            SubmitJurusan() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Insert/Jurusan', {
                    id_jurusan: this.id_jurusan,
                    nama_singkat: this.nama_singkat,
                    nama_lengkap: this.nama_lengkap
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di input.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di input.'
                    })
                });
                this.JurusanDialog = false;
                this.getTask();
                this.ClearJurusan();
            },
            HapusJurusan() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Delete/Jurusan', {
                    id_jurusan: this.id_jurusan,
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di hapus.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di hapus.'
                    })
                });
                this.getTask();
                this.HapusJurusanDialog = false;
                this.ClearJurusan();
            },
            JurusanUpdate(item) {
                const found = this.jurusan.find(cari => cari.id_jurusan === item.id_jurusan);
                this.id_jurusan = found["id_jurusan"];
                this.nama_singkat = found["nama_singkat"];
                this.nama_lengkap = found["nama_lengkap"];
                this.JurusanDialog = !this.JurusanDialog;
            },
            JurusanHapus(item) {
                const found = this.jurusan.find(cari => cari.id_jurusan === item.id_jurusan);
                this.id_jurusan = found["id_jurusan"];
                this.nama_singkat = found["nama_singkat"];
                this.nama_lengkap = found["nama_lengkap"];
                this.HapusJurusanDialog = !this.HapusJurusanDialog;
            },
            ClearJurusan() {
                this.id_jurusan = this.O_jurusan;
                this.nama_singkat = '';
                this.nama_lengkap = '';
            }
        },
        mounted() {
            this.getTask();
        }
    }
</script>
