<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Silahkan Login</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
                <v-form action="/login" method="post" v-model="valid" id="formid" >
                    <v-card-text>
                        <v-text-field
                            :value="csrf"
                            name="_token"
                            v-show="false"
                        />
                        <v-text-field
                            label="Username"
                            name="username"
                            prepend-icon="mdi-account"
                            type="text"
                            :rules="usernameRules"
                            v-model="username"
                            required
                        />
                        <v-text-field
                            id="password"
                            label="Password"
                            name="password"
                            prepend-icon="mdi-tablet-dashboard"
                            type="password"
                            :rules="passwordRules"
                            v-model="password"
                            required
                        />
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="primary" v-on:click="CariNIS()">Buat Akun Siswa</v-btn>
                        <v-spacer />
                        <v-btn color="primary" v-on:click="tekan()" :disabled="!valid">Login</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
          </v-col>
        </v-row>



    <v-dialog
      v-model="dialogCari"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Cari Akun
        </v-card-title>
        <v-form v-model="validNIS">
            <v-container>
                <v-text-field
                    type="text"
                    v-model="nis"
                    :rules="Rules"
                    label="NIS"
                ></v-text-field>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="dialogCari = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="Cari()"
                :disabled="!validNIS"
            >Cari</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>


    <!-- Dialog Untuk Daftar Kelas -->
    <v-dialog
      v-model="dialogBuat"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Buat Akun
        </v-card-title>
        <v-form v-model="validAkun">
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <v-text-field label="NIS" v-model="nis" readonly></v-text-field>
                        <v-text-field label="Username" counter="12" hint="Username" :rules="Rules" v-model="username"></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field label="Password" counter="12" type="password" hint="Password" :rules="Rules" v-model="password"></v-text-field>
                    </v-col>
                    <v-col cols="12">
                            <v-file-input
                                v-model="file"
                                show-size
                                accept=".png"
                                label="Upload Foto... (.png)"
                                :rules="Rules"
                            ></v-file-input>
                    </v-col>
                </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="dialogBuat = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="BuatAkun()"
                :disabled="!validAkun"
            >Submit</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data() {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            valid: false,
            validNIS: false,
            validAkun: false,
            dialogCari: false,
            dialogBuat: false,
            file: '',
            username: '',
            password: '',
            nis: '',
            usernameRules: [
              (v) => !!v || 'Username harus diisi',
            ],
            passwordRules: [
              (v) => !!v || 'Password harus diisi',
            ],
            Rules: [
              (v) => !!v || 'Field harus diisi',
            ],
        }
    },
    methods: {
        tekan() {
            formid.submit();
        },
        CariNIS() {
            this.dialogCari = !this.dialogCari;
        },
        Cari() {
            axios.get('/GetNIS/'+this.nis).then(
                result => {
                    if (result.data.length == 0) {
                        _Swal.fire({
                            type: 'error',
                            title: 'NIS sudah memiliki akun atau NIS tidak terdaftar.'
                        });
                    } else {
                        this.nis = result.data[0]["nis"];
                        this.dialogCari = false;
                        this.dialogBuat = !this.dialogBuat;
                    }
                }
            )
        },
        BuatAkun() {
            let formData = new FormData();
            formData.append('nis', this.nis);
            formData.append('username', this.username);
            formData.append('password', this.password);
            formData.append('file', this.file);
            axios.post('/Update/Siswa', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function(response) {
                _Swal.fire({
                    type: 'success',
                    title: 'Akun berhasil dibuat.'
                });
            }).catch(function(error) {
                _Swal.fire({
                    type: 'error',
                    title: 'Username telah terdaftar.'
                });
            });

            this.username = '';
            this.password = '';
            this.dialogBuat = !this.dialogBuat;
        }
    }
  }
</script>
