<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    >
      <v-list dense>
        <template v-for="item in items">
          <v-row
            v-if="item.heading"
            :key="item.heading"
            align="center"
          >
            <v-col cols="6">
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-col>
            <v-col
              cols="6"
              class="text-center"
            >
              <a
                href="#!"
                class="body-2 black--text"
              >EDIT</a>
            </v-col>
          </v-row>
          <v-list-group
            v-else-if="item.children"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item
              v-for="(child, i) in item.children"
              :key="i"
              link
            >
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item
            v-else
            :key="item.text"
            link
            v-bind:href="item.text"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="blue darken-3"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <v-avatar  size="32px"  item  >
          <v-img src="/dist/img/logo.png"  alt="Petugas"/>
        </v-avatar>
        <span class="hidden-sm-and-down">SMK TI Pembangunan</span>
      </v-toolbar-title>
      <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-text-field
          flat
          solo-inverted
          hide-details
          v-model="keyword"
          @keyup="CariPengaduan()"
          v-on="on"
          prepend-inner-icon="mdi-magnify"
          label="Cari Pengaduan"
          class="hidden-sm-and-down"
        />
      </template>
      <v-list>
        <v-list-item
          v-for="h in hasil"
          :key="h.id_pengaduan"
          v-bind:href="h.id_pengaduan"
        >
          <v-list-item-content>
            <v-list-item-title>{{ h.judul }}</v-list-item-title>
            <v-list-item-subtitle>Pada {{ h.tanggal }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-subtitle>"Total hasil pencarian {{hasil.length}}"</v-list-item-subtitle>
        </v-list-item>
      </v-list>
    </v-menu>
      <v-spacer />
      <v-btn  icon >
        <v-avatar  size="32px"  item  v-on:click="DialogAkun = !DialogAkun">
          <v-img :src="'/dist/img/petugas/'+userinfo.id"  alt="Petugas"/>
        </v-avatar>
      </v-btn>{{userinfo.nama}}
      <v-btn icon >
        <v-icon v-on:click="logout()">mdi-exit-to-app</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
            <router-view></router-view>
        </v-row>
      </v-container>
    </v-content>


    
    <v-dialog
      v-model="DialogAkun"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Ubah Akun
        </v-card-title>
        <v-form v-model="validAkun">
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <v-text-field label="Username" counter="12" hint="Username" :rules="Rules" v-model="username"></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field label="Password" counter="12" type="password" hint="Password" :rules="Rules" v-model="password"></v-text-field>
                    </v-col>
                </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="dialogBuat = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="BuatAkun()"
                :disabled="!validAkun"
            >Submit</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>


  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      dialog: false,
      drawer: null,
      src: '/dist/img/petugas/',
      userinfo: [],
      keyword: '',
      DialogAkun: false,
      validAkun: false,
      username: '',
      password: '',
      Rules: [
        (v) => !!v || 'Field harus diisi',
      ],
      hasil: [],
      items: [
        { icon: 'mdi-tablet-dashboard', text: 'Dashboard'},
        { icon: 'mdi-contacts', text: 'Siswa'},
        { icon: 'mdi-google-classroom', text: 'Kelas' },
        { icon: 'mdi-account', text: 'Petugas' },
        { icon: 'mdi-message', text: 'Pengaduan' },
        { icon: 'mdi-file-pdf', text: 'Laporan' },
      ],
    }),
    methods: {
        logout() {
            window.location = "/logout";
        },
        getUserInfo() {
            axios.get('/GetUserInfo').then(
                result => {
                    this.userinfo = result.data
                }
            );
        },
        CariPengaduan() {
          //GetPengaduan/Search/{key}
          axios.get('/GetPengaduan/Search/'+this.keyword).then(
            result => {
              this.hasil = result.data
            }
          );
        },
        BuatAkun() {
            axios.post('/Update/Account/Petugas', {
              id: this.userinfo["id"],
              username: this.username,
              password: this.password
            }).then(function(response) {
                _Swal.fire({
                    type: 'success',
                    title: 'Akun berhasil diupdate.'
                });
            }).catch(function(error) {
                _Swal.fire({
                    type: 'error',
                    title: 'Username telah terdaftar.'
                });
            });
            this.DialogAkun = false;
        },
    },
    mounted() {
        this.getUserInfo();
    }
  }
</script>
