<template>
    <div class="container">



        <v-card>
            <v-card-title>Daftar Pengaduan</v-card-title>
        </v-card>
        <v-row>
            <v-col
            cols="4" v-for="p in pengaduan" v-bind:key="p.id_pengaduan" v-bind:title="p.judul">

            <v-card
                class="mx-auto"
                max-width="344"
                v-on:click="Lihat(p.id_pengaduan)"
            >
                <v-img
                    :src="'/dist/img/attachments/'+p.id_pengaduan"
                    height="200px"
                ></v-img>

                <v-card-title>
                    {{p.judul}}
                </v-card-title>

                <v-card-subtitle>
                Oleh {{p.nama}}
                <v-spacer></v-spacer>
                Status : {{p.status}}
                </v-card-subtitle>

            </v-card>



            </v-col>
        </v-row>

    <v-btn
      bottom
      color="pink"
      dark
      fab
      fixed
      right
      v-on:click="BukaForm()"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>


    <v-dialog v-model="dialogBuat" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Buat Pengaduan Baru</span>
        </v-card-title>
        <v-card-text>
        <v-form v-model="valid">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field label="ID Pengaduan" v-model="id_pengaduan" readonly></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Judul" hint="Judul Pengaduan" :rules="Rules" v-model="judul"></v-text-field>
              </v-col>
              <v-col cols="12">
                  <v-textarea label="Isi Laporan" hint="Isi Pengaduan" :rules="Rules" v-model="isi_laporan"></v-textarea>
              </v-col>
              <v-col cols="12">
                    <v-file-input
                        v-model="file"
                        show-size
                        accept=".png"
                        label="Upload Foto... (.png)"
                        :rules="Rules"
                    ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogBuat = false">Close</v-btn>
          <v-btn color="blue darken-1" text v-on:click="SimpanPengaduan()"
                :disabled="!valid">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                valid: false,
                pengaduan: [],
                uinfo: [],
                id_pengaduan: '',
                judul: '',
                isi_laporan: '',
                kode_otomatis: '',
                file: '',
                dialogBuat: false,
                Rules: [
                    (v) => !!v || 'Form harus diisi',
                ],
            }
        },
        methods: {
            getTask() {
                axios.get('/GetPengaduan').then(
                    result => {
                        this.pengaduan = result.data
                    }
                );
                axios.get('/KodeOtomatis').then(
                    result => {
                        this.kode_otomatis = result.data["id_pengaduan"]
                        this.id_pengaduan = this.kode_otomatis;
                    }
                );
                axios.get('/GetUserInfo').then(
                    result => {
                        this.uinfo = result.data;
                    }
                );
            },
            BukaForm() {
                this.dialogBuat = !this.dialogBuat;
            },
            resetForm() {
                this.judul = '';
                this.isi_laporan = '';
                this.file = '';
            },
            Lihat(item) {
                //FUNGSI UNTUK LIHAT DETAIL
                this.$router.push({path: item});
            },
            SimpanPengaduan() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                let formData = new FormData();
                formData.append('id_pengaduan', this.id_pengaduan);
                formData.append('nis', this.uinfo["id"]);
                formData.append('judul', this.judul);
                formData.append('isi_laporan', this.isi_laporan);
                formData.append('file', this.file);
                axios.post('/Insert/Pengaduan', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di input.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di input.'
                    })
                });
                this.dialogBuat = false;
                this.getTask();
                this.resetForm();
            }
        },
        mounted() {
            this.getTask();
        }
    }
</script>
