<template>
    <div class="container">

        <v-card>
            <v-card-title> Data Petugas <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Cari"
                hide-details
            /></v-card-title>
            <v-container>
               <v-data-table
                :headers="headers"
                :items="petugas"
                :search="search"
                loading-text="Mengambil data... Mohon tunggu"
                >
                <template v-slot:item="row">
                    <tr>
                        <td>{{row.item.id_petugas}}</td>
                        <td>{{row.item.nama}}</td>
                        <td>{{row.item.level}}</td>
                        <td>{{row.item.jk}}</td>
                        <td>{{row.item.telp}}</td>
                        <td>{{row.item.tgl_lahir}}</td>
                        <td>{{row.item.alamat}}</td>
                        <td>
                            <v-btn
                                small
                                color="success"
                                v-on:click="update(row.item)"
                            >
                                <v-icon>mdi-account-edit</v-icon>
                            </v-btn>
                            <v-btn
                                small
                                color="error"
                                v-on:click="hapus(row.item)"
                            >
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
                </v-data-table>
            </v-container>
        </v-card>

    <v-btn
      bottom
      color="pink"
      dark
      fab
      fixed
      right
      v-on:click="BukaForm()"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <!-- ================== DIALOG =================== -->

    <v-dialog
      v-model="dialog"
      width="800px"
    >
      <v-card>
        <v-card-title>
            Form Petugas
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="6"
                        >
                            <v-text-field
                                v-model="id_petugas"
                                prepend-icon="mdi-account-card-details-outline"
                                label="ID Petugas"
                                :rules="Rules"
                                counter="20"
                                readonly
                            />
                        </v-col>
                        <v-col cols="6">
                        <v-text-field
                            v-model="nama"
                            prepend-icon="mdi-account-card-details-outline"
                            label="Nama"
                            :rules="Rules"
                            counter="30"
                        />
                        </v-col>
                        <v-col cols="6">
                        <v-select
                            label="Hak Akses"
                            v-model="hak"
                            :items="daftar_hak"
                            item-value="hak"
                            item-text="hak"
                            required></v-select>
                        </v-col>
                        <v-col cols="6">
                        <v-select
                            label="Jenis Kelamin"
                            v-model="jk"
                            :items="jenis"
                            item-text="jenis"
                            item-value="jenis"
                            required></v-select>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                type="tel"
                                v-model="telp"
                                prepend-icon="mdi-phone"
                                label="Telp"
                                :rules="Rules"
                                counter="15"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                type="date"
                                v-model="tgl_lahir"
                                prepend-icon="mdi-text"
                                label="Tanggal Lahir"
                                :rules="Rules"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-textarea
                            label="Alamat"
                            v-model="alamat"
                            :rules="Rules"
                            rows="2"/>
                        </v-col>
                        <v-col cols="6">
                            <v-file-input
                                v-model="file"
                                v-on:change="handleFileUpload()"
                                show-size
                                accept=".png"
                                label="Upload Foto... (.png)"
                            ></v-file-input>
                        </v-col>
                        <v-col cols="12">
                            <v-label>* Saat pertama di daftarkan, username dan password petugas akan sama dengan ID Petugas</v-label>
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                color="primary"
                @click="dialog = false"
            >Batal</v-btn>
            <v-btn
                text
                @click="SimpanPetugas()"
                :disabled="!valid"
            >Simpan</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>



    <v-dialog
      v-model="dialoghapus"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Hapus Data Siswa?
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="id_petugas"
                                prepend-icon="mdi-account-card-details-outline"
                                label="ID Petugas"
                                readonly
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama"
                                prepend-icon="mdi-account-card-details-outline"
                                label="Nama"
                                readonly
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                color="primary"
                @click="dialoghapus = false"
            >Batal</v-btn>
            <v-btn
                text
                v-on:click="FormHapus()"
                :disabled="!valid"
            >Hapus</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                valid: false,
                dialog: false,
                dialoghapus: false,
                search: '',
                file: '',
                id_petugas: '',
                nama: '',
                hak: '',
                jk: '',
                telp: '',
                tgl_lahir: '',
                uinfo: [],
                alamat: '',
                kode_otomatis: '',
                petugas: [],
                jenis: [{"jenis": 'L'}, {"jenis": 'P'}],
                daftar_hak: [{"hak": 'Administrator'}, {"hak": 'Petugas'}],
                headers: [
                    { text: 'ID Petugas', value: 'id_petugas'},
                    { text: 'Nama', value: 'nama'},
                    { text: 'Hak', value: 'level'},
                    { text: 'Jenis Kelamin', value: 'jk'},
                    { text: 'Telp', value: 'telp'},
                    { text: 'Tanggal Lahir', value: 'tgl_lahir'},
                    { text: 'Alamat', value: 'alamat'},
                    { text: 'Aksi'},
                ],
                Rules: [
                    (v) => !!v || 'Form harus diisi',
                ],
            }
        },
        methods: {
            resetForm() {
                this.id_petugas = this.kode_otomatis;
                this.nama = '';
                this.alamat = '';
                this.jk = '';
                this.telp = '';
                this.tgl_lahir = '';
                this.hak = '';
                this.file = null;
            },
            handleFileUpload() {
                this.file = this.$refs.file.file[0];
            },
            getTask() {
                axios.get('/GetPetugas').then(
                    result => {
                        this.petugas = result.data
                    }
                );
                axios.get('/KodeOtomatis').then(
                    result => {
                        this.kode_otomatis = result.data["id_petugas"]
                        this.id_petugas = this.kode_otomatis;
                        this.username = this.kode_otomatis;
                    }
                );
                axios.get('/GetUserInfo').then(
                    result => {
                        this.uinfo = result.data;
                    }
                );
            },
            BukaForm() {
                this.resetForm();
                this.dialog = !this.dialog;
            },
            update(item) {
                const found = this.petugas.find(cari => cari.id_petugas === item.id_petugas);
                this.id_petugas = found["id_petugas"];
                this.nama = found["nama"];
                this.alamat = found["alamat"];
                this.jk = found["jk"];;
                this.telp = found["telp"];
                this.tgl_lahir = found["tgl_lahir"];;
                this.hak = found["level"];;
                this.dialog = !this.dialog;
            },
            hapus(item) {
                const found = this.petugas.find(cari => cari.id_petugas === item.id_petugas);
                this.id_petugas = found["id_petugas"];
                this.nama = found["nama"];
                var level = this.uinfo["id"];
                if (level == found["id_petugas"]) {
                    alert('Tidak dapat menghapus akun milik sendiri');
                } else {
                    this.dialoghapus = !this.dialoghapus;
                }
            },
            SimpanPetugas() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                let formData = new FormData();
                formData.append('id_petugas', this.id_petugas);
                formData.append('nama', this.nama);
                formData.append('alamat', this.alamat);
                formData.append('telp', this.telp);
                formData.append('jk', this.jk);
                formData.append('tgl_lahir', this.tgl_lahir);
                formData.append('level', this.hak);
                formData.append('file', this.file);
                axios.post('/Insert/Petugas', formData, {
                        headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di input.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di input.'
                    })
                });
                this.dialog = false;
                this.getTask();
                this.resetForm();
            },
            FormHapus() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Delete/Petugas', {
                    id_petugas: this.id_petugas
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di input.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di input.'
                    })
                });
                this.getTask();
                this.dialoghapus = false;
            }
        },
        mounted() {
            this.getTask();
        }
    }
</script>
