<template>
    <div class="container">

        <v-card>
            <v-card-title> Data Siswa </v-card-title>
            <v-container>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Cari"
                single-line
                hide-details
            />
               <v-data-table
                :headers="headers"
                :items="siswa"
                :search="search"
                loading-text="Mengambil data... Mohon tunggu"
                >
                <template v-slot:item="row">
                    <tr>
                        <td>{{row.item.nis}}</td>
                        <td>{{row.item.nama}}</td>
                        <td>{{row.item.tingkat}} {{row.item.jurusan}} {{row.item.kelas}}</td>
                        <td>{{row.item.jk}}</td>
                        <td>{{row.item.tgl_lahir}}</td>
                        <td>{{row.item.telp}}</td>
                        <td>
                            <v-btn
                                small
                                color="success"
                                v-on:click="update(row.item)"
                            >
                                <v-icon>mdi-account-edit</v-icon>
                            </v-btn>
                            <v-btn
                                small
                                color="error"
                                v-on:click="hapus(row.item)"
                            >
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
                </v-data-table>
            </v-container>
        </v-card>


    <v-btn
      bottom
      color="pink"
      dark
      fab
      fixed
      right
      v-on:click="BukaForm()"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      width="800px"
    >
      <v-card>
        <v-card-title>
            Form Siswa
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="6"
                        >
                            <v-text-field
                                v-model="nis"
                                prepend-icon="mdi-account-card-details-outline"
                                label="NIS"
                                :rules="Rules"
                                counter="20"
                            />
                        </v-col>
                        <v-col cols="6">
                        <v-text-field
                            v-model="nama"
                            prepend-icon="mdi-account-card-details-outline"
                            label="Nama"
                            :rules="Rules"
                            counter="30"
                        />
                        </v-col>
                        <v-col cols="4">
                        <v-select
                            label="Tingkat"
                            v-model="id_tingkat"
                            :items="tingkat"
                            item-value="id_tingkat"
                            item-text="nama"
                            required></v-select>
                        </v-col>
                        <v-col cols="4">
                        <v-select
                            label="Jurusan"
                            v-model="id_jurusan"
                            :items="jurusan"
                            item-value="id_jurusan"
                            item-text="nama_singkat"
                            required></v-select>
                        </v-col>
                        <v-col cols="4">
                        <v-select
                            label="Kelas"
                            v-model="id_kelas"
                            :items="kelas"
                            item-value="id_kelas"
                            item-text="nama"
                            required></v-select>
                        </v-col>
                        <v-col cols="4">
                        <v-select
                            label="Jenis Kelamin"
                            v-model="jk"
                            :items="jenis"
                            item-text="jenis"
                            item-value="jenis"
                            required></v-select>
                        </v-col>
                        <v-col cols="4">
                            <v-text-field
                                type="tel"
                                v-model="telp"
                                prepend-icon="mdi-phone"
                                label="Telp"
                                :rules="Rules"
                                counter="15"
                            />
                        </v-col>
                        <v-col cols="4">
                            <v-text-field
                                type="date"
                                v-model="tgl_lahir"
                                prepend-icon="mdi-text"
                                label="Tanggal Lahir"
                                :rules="Rules"
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                color="primary"
                @click="dialog = false"
            >Batal</v-btn>
            <v-btn
                text
                @click="simpan()"
                :disabled="!valid"
            >Simpan</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>



    <v-dialog
      v-model="dialoghapus"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Hapus Data Siswa?
        </v-card-title>
        <v-form>
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nis"
                                prepend-icon="mdi-account-card-details-outline"
                                placeholder="Nis"
                                readonly
                            />
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                            <v-text-field
                                v-model="nama"
                                prepend-icon="mdi-account-card-details-outline"
                                placeholder="Nama"
                                readonly
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                color="primary"
                @click="dialoghapus = false"
            >Batal</v-btn>
            <v-btn
                text
                v-on:click="Hapus()"
            >Hapus</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>


    <v-dialog
      v-model="dialogimport"
      width="400px"
    >
      <v-card>
        <v-card-title>
           Import Daftar Siswa
        </v-card-title>
        <v-form v-model="valid">
            <v-container>
                    <v-row class="mx-2">
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                        <v-file-input
                            show-size
                            accept=".xlsx"
                            label="Upload File... (File.xlsx)"
                        ></v-file-input>
                        </v-col>
                        <v-col cols="4">
                        <v-select
                            label="Tingkat"
                            v-model="id_tingkat"
                            :items="tingkat"
                            item-value="id_tingkat"
                            item-text="nama"
                            required></v-select>
                        </v-col>
                        <v-col cols="4">
                        <v-select
                            label="Jurusan"
                            v-model="id_jurusan"
                            :items="jurusan"
                            item-value="id_jurusan"
                            item-text="nama_singkat"
                            required></v-select>
                        </v-col>
                        <v-col cols="4">
                        <v-select
                            label="Kelas"
                            v-model="id_kelas"
                            :items="kelas"
                            item-value="id_kelas"
                            item-text="nama"
                            required></v-select>
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                color="primary"
                @click="dialogimport = false"
            >Batal</v-btn>
            <v-btn
                text
                v-on:click="importexcel()"
                :disabled="!valid"
            >Import</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                search: '',
                dialog: false,
                dialoghapus: false,
                dialogimport: false,
                drawer: null,
                valid: false,
                nis: '',
                nama: '',
                id_tingkat:'KT-001',
                id_jurusan: 'KJ-001',
                id_kelas: 'KK-001',
                telp: '',
                jk: '',
                tgl_lahir: '',
                siswa: [],
                tingkat: [],
                jurusan: [],
                kelas: [],
                jenis: [{"jenis": 'L'}, {"jenis": 'P'}],
                headers: [
                    {
                        text: 'NIS',
                        align: 'left',
                        value: 'nis'
                    },
                    { text: 'Nama', value: 'nama'},
                    { text: 'Kelas'},
                    { text: 'Jenis Kelamin', value: 'jk'},
                    { text: 'Tanggal Lahir'},
                    { text: 'Telpon', value: 'telp'},
                    { text: 'Aksi'},
                ],
                Rules: [
                    (v) => !!v || 'Form harus diisi',
                ],
            }
        },
        methods: {
            resetForm() {
                this.nis ='';
                this.nama ='';
                this.id_tingkat ='KT-001';
                this.id_jurusan ='';
                this.id_kelas ='';
                this.telp ='';
                this.jk ='';
                this.tgl_lahir ='';
            },
            BukaForm() {
                this.resetForm();
                this.dialog = !this.dialog;
            },
            getTask() {
                axios.get('/GetSiswaKelas').then(
                    result => {
                        this.siswa = result.data
                    }
                );
                axios.get('/GetTingkat').then(
                    result => {
                        this.tingkat = result.data
                    }
                );
                axios.get('/GetJurusan').then(
                    result => {
                        this.jurusan = result.data
                    }
                );
                axios.get('/GetKelas').then(
                    result => {
                        this.kelas = result.data
                    }
                );
            },
            hapus(item) {
                this.nis = item.nis;
                this.nama = item.nama;
                this.dialoghapus = !this.dialoghapus;
            },
            update(item) {
                const found = this.siswa.find(cari => cari.nis === item.nis);
                this.nis = found["nis"];
                this.nama = found["nama"];
                this.id_tingkat = found["id_tingkat"];
                this.id_jurusan = found["id_jurusan"];
                this.id_kelas = found["id_kelas"];
                this.telp = found["telp"];
                this.jk = found["jk"];
                this.tgl_lahir = found["tgl_lahir"];
                this.dialog = !this.dialog;
            },
            Hapus() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Delete/Siswa', {
                    nis: this.nis
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di hapus.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di hapus.'
                    })
                });
                this.dialoghapus = false;
                this.getTask();
                this.resetForm();
            },
            simpan() {
                const Toast = _Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                axios.post('/Insert/Siswa', {
                    nis: this.nis,
                    nama: this.nama,
                    id_tingkat: this.id_tingkat,
                    id_jurusan: this.id_jurusan,
                    id_kelas: this.id_kelas,
                    telp: this.telp,
                    jk: this.jk,
                    tgl_lahir: this.tgl_lahir
                }).then(function(response) {
                    Toast.fire({
                        type: 'success',
                        title: 'Data berhasil di input.'
                    })
                }).catch(function(error) {
                    Toast.fire({
                        type: 'error',
                        title: 'Terjadi Kesalahan! Data gagal di input.'
                    })
                });
                this.dialog = false;
                this.getTask();
                this.resetForm();
            },
            Import() {
                this.dialogimport = !this.dialogimport;
            },
        },
        mounted() {
            this.getTask();
        }
    }
</script>
