<template>
    <div class="container">

        <v-row>
            <v-col cols="7">
                <v-card class="mb-6">

                    <v-carousel
                        cycle
                            height="350"
                        hide-delimiter-background
                        show-arrows-on-hover
                    >
                        <v-carousel-item
                        v-for="p in pengaduanLimit"
                        :key="p.id_pengaduan"
                        :href="p.id_pengaduan"
                        >
                        <v-sheet
                            height="100%"
                        >
                            <v-img
                                class="white--text align-start"
                                :src="'/dist/img/attachments/'+p.id_pengaduan">
                                <v-card-title>{{p.judul}}</v-card-title>
                            </v-img>
                        </v-sheet>
                        </v-carousel-item>
                    </v-carousel>
                </v-card>

                <v-card
                    class="mx-auto mb-6"
                    v-for="p in pengaduan"
                    :key="p.id_pengaduan"
                >
                    <v-list-item>
                    <v-list-item-avatar color="grey">
                        <v-img :src="'/dist/img/siswa/'+p.nis"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-subtitle class="subtitle-1 font-weight-black">{{p.judul}} </v-list-item-subtitle>
                        <v-list-item-subtitle>Oleh {{p.nama}}</v-list-item-subtitle>
                    </v-list-item-content>
                    </v-list-item>
                    <v-card-text v-html="p.isi_laporan"></v-card-text>
                        <v-img
                        :src="'/dist/img/attachments/'+p.id_pengaduan"
                        ></v-img>
                    <v-card-actions>
                    <v-btn
                        text
                        color="deep-purple accent-4"
                        v-on:click="OpenKomentar(p.id_pengaduan, p.status)"
                    >
                        Komentar
                    </v-btn>
                    <v-btn
                        text
                        color="deep-purple accent-4"
                        v-on:click="OpenTanggapan(p.id_pengaduan, p.status)"
                    >
                        Tanggapan
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-label>
                        Status : {{p.status}}
                    </v-label>
                    </v-card-actions>

                </v-card>

            </v-col>
            <v-col cols="5">

                <v-card
                class="mx-auto mb-6">
                    <v-card-title>Pengaduan Terbaru</v-card-title>
                    <v-list>
                        <v-list-item two-line  v-for="p in pengaduanLimit" :key="p.id_pengaduan" :href="p.id_pengaduan">
                            <v-list-item-content>
                                <v-list-item-title>{{p.judul}}</v-list-item-title>
                                <v-list-item-subtitle>status {{p.status}}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>

            </v-col>
        </v-row>


    <v-dialog v-model="dialogKomentar" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card
    class="overflow-hidden mx-auto">
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialogKomentar = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Komentar terhadap pengaduan {{InfoPengaduan}}</v-toolbar-title>
        </v-toolbar>

    <v-bottom-navigation
      absolute
      horizontal
      v-if="status == 'selesai'"
    >
        <v-label>Pengaduan ini telah selesai</v-label>
    </v-bottom-navigation>
    <v-sheet
      class="overflow-y-auto"
      max-height="500"
    >
      <v-container>
        <v-list two-line>
          <v-list-item v-for="k in komentar" :key="k.id">
            <v-list-item-avatar>
              <v-img :src="'/dist/img/siswa/'+k.nis"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{k.nama}} <small> Pada {{k.created_at}}</small></v-list-item-title>
              <v-list-item-subtitle>{{k.komentar}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-container>
    </v-sheet>

      </v-card>
    </v-dialog>

    <!-- DIALOG TANGGAPAN -->

    <v-dialog v-model="dialogTanggapan" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card
    class="overflow-hidden mx-auto">
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialogTanggapan = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Tanggapan terhadap pengaduan {{InfoPengaduan}}</v-toolbar-title>
        </v-toolbar>

        <v-form v-model="valid">
            <v-bottom-navigation
            absolute
            horizontal
            v-if="status != 'selesai'"
            >
                    <v-text-field
                        v-show="false"
                        v-model="id_pengaduan"
                        :rules="Rules"
                    ></v-text-field>
                    <v-text-field
                        label="Komentar"
                        placeholder="Komentar anda..."
                        outlined
                        type="text"
                        v-model="tanggapanuser"
                        :rules="Rules"
                    ></v-text-field>
                    <v-btn
                        v-on:click="Tanggapi()"
                        :disabled="!valid">
                    <v-icon>mdi-send</v-icon>
                    </v-btn>
            </v-bottom-navigation>
            <v-bottom-navigation
            absolute
            horizontal
            v-else
            >
                <v-label>Pengaduan ini telah selesai</v-label>
            </v-bottom-navigation>
        </v-form>
    <v-sheet
      class="overflow-y-auto"
      max-height="500"
    >
      <v-container>
        <v-list two-line>
          <v-list-item v-for="t in tanggapan" :key="t.id_tanggapan">
            <v-list-item-avatar>
              <v-img :src="'/dist/img/petugas/'+t.id_petugas"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{t.nama}} <small> Pada {{t.created_at}}</small></v-list-item-title>
              <v-list-item-subtitle>{{t.tanggapan}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-container>
    </v-sheet>

      </v-card>
    </v-dialog>
    </div>
</template>
<script>
export default {
    data() {
        return {
            status: '',
            pengaduan: [],
            pengaduanLimit: [],
            pengaduanSaya: [],
            komentar: [],
            tanggapan: [],
            dialogKomentar: false,
            dialogTanggapan: false,
            InfoPengaduan: '',
            uinfo: [],
            tanggapanuser: '',
            id_pengaduan: '',
            valid: false,
            Rules: [
                (v) => !!v || 'Form harus diisi',
            ],
        }
    },
    methods: {
        getTask() {
            axios.get('/GetPengaduan').then(
                result => {
                    this.pengaduan = result.data
                }
            );
            axios.get('/GetPengaduanLimit').then(
                result => {
                    this.pengaduanLimit = result.data
                }
            );
            axios.get('/GetPengaduanSaya').then(
                result => {
                    this.pengaduanSaya = result.data
                }
            );
            axios.get('/GetUserInfo').then(
                result => {
                    this.uinfo = result.data;
                }
            );
        },
        OpenKomentar(item, status) {
            axios.get('/GetKomentar/'+item).then(
                result => {
                    this.komentar = result.data;
                }
            );
            this.status = status;
            this.id_pengaduan = item;
            this.InfoPengaduan = item;
            this.dialogKomentar = !this.dialogKomentar;
        },
        OpenTanggapan(item, status) {
            axios.get('/GetTanggapan/'+item).then(
                result => {
                    this.tanggapan = result.data;
                }
            );
            this.status = status;
            this.id_pengaduan = item;
            this.InfoPengaduan = item;
            this.dialogTanggapan = !this.dialogTanggapan;
        },
        Tanggapi() {
            const Toast = _Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            axios.post('/Insert/Tanggapan', {
                id_pengaduan: this.id_pengaduan,
                id_petugas: this.uinfo["id"],
                tanggapan: this.tanggapanuser
            }).catch(function(error) {
                Toast.fire({
                    type: 'error',
                    title: 'Terjadi Kesalahan! Data gagal di input.'
                })
            });;
            this.tanggapanuser = '';
            axios.get('/GetTanggapan/'+this.id_pengaduan).then(
                result => {
                    this.tanggapan = result.data
                }
            );
            axios.get('/GetPengaduan').then(
                result => {
                    this.pengaduan = result.data
                }
            );
        }
    },
    mounted() {
        this.getTask();
    }
}
</script>
