<template>
    <div class="container">
        <v-row>
            <v-col
            cols="4">
                <v-card
                class="mx-auto" color="primary">
                    <v-card-title style="color: white">Jumlah Siswa</v-card-title>
                    <v-card-title style="color: white">
                        {{siswa.length}}
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary"
                        v-bind:href="'Siswa'">Lihat</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col
            cols="4">
                <v-card
                class="mx-auto" color="primary">
                    <v-card-title style="color: white">Jumlah Pengaduan</v-card-title>
                    <v-card-title style="color: white">
                        {{pengaduan.length}}
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary"
                        v-bind:href="'Pengaduan'">Lihat</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col
            cols="4">
                <v-card
                class="mx-auto" color="primary">
                    <v-card-title style="color: white">Jumlah Petugas</v-card-title>
                    <v-card-title style="color: white">
                        {{petugas.length}}
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary"
                        v-bind:href="'Petugas'">Lihat</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>

            <v-col
            cols="8">
                <v-card
                    class="mx-auto mb-6">
                    <v-card-title>Daftar Pengaduan</v-card-title>
                    <v-data-table
                        :headers="headers"
                        :items="pengaduan"
                        loading-text="Mengambil data... Mohon tunggu"
                    ></v-data-table>
                </v-card>
            </v-col>

            <v-col
            cols="4">
                <v-card
                    class="mx-auto mb-6">
                    <v-card-title>Riwayat Tanggapan</v-card-title>
                    <v-list>
                        <v-list-item two-line  v-for="t in tanggapan" :key="t.id_tanggapan">
                            <v-list-item-content>
                                <v-list-item-title>{{t.nama}} <small>di Pengaduan #{{t.id_pengaduan}}</small></v-list-item-title>
                                <v-list-item-subtitle>{{t.tanggapan}}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>
<script>
export default {
    data() {
        return {
            headers: [
                { text: 'Judul', value: 'judul'},
                { text: 'Nama Pengadu', value: 'nama'},
                { text: 'Tanggal', value: 'tanggal'},
                { text: 'Status', value: 'status'}
            ],
            pengaduan: [],
            siswa: [],
            petugas: [],
            tanggapan: []
        }
    },
    methods: {
        getTask() {
            axios.get('/GetSiswaKelas').then(
                result => {
                    this.siswa = result.data;
                }
            );
            axios.get('/GetPengaduan').then(
                result => {
                    this.pengaduan = result.data;
                }
            );
            axios.get('/GetPetugas').then(
                result => {
                    this.petugas = result.data;
                }
            );
            axios.get('/GetTanggapan').then(
                result => {
                    this.tanggapan = result.data;
                }
            );
        }
    },
    mounted() {
        this.getTask();
    }
}
</script>
