<template>
    <div class="container">
        <v-card>
            <v-card-title>Laporan</v-card-title>
        </v-card>
        <v-card>
            <v-list two-line>
                <v-list-item v-on:click="Petugas()">
                    <v-list-item-content>
                        <v-list-item-title>Petugas</v-list-item-title>
                        <v-list-item-subtitle>Lihat laporan petugas</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-on:click="Siswa()">
                    <v-list-item-content>
                        <v-list-item-title>Siswa</v-list-item-title>
                        <v-list-item-subtitle>Lihat laporan siswa</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-on:click="Pengaduan()">
                    <v-list-item-content>
                        <v-list-item-title>Pengaduan</v-list-item-title>
                        <v-list-item-subtitle>Lihat laporan pengaduan</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-card>



    <v-dialog
      v-model="SiswaDialog"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Laporan Siswa
        </v-card-title>
        <v-form action="/Laporan/Siswa" method="post" v-model="valid" id="FormSiswa" >
            <v-container>
                    <v-row class="mx-2">
                        <v-textarea
                            :value="csrf"
                            name="_token"
                            v-show="false"
                        />
                        <v-col
                        class="align-center justify-space-between"
                        cols="12">
                            <v-btn
                            color="primary"
                            v-on:click="SemuaSiswa()">Cetak Semua Siswa</v-btn>
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                        <v-label>Cetak berdasarkan</v-label>
                        <v-select
                            label="Tingkat"
                            v-model="id_tingkat"
                            name="id_tingkat"
                            :items="tingkat"
                            item-value="id_tingkat"
                            item-text="nama"
                            required></v-select>
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                        <v-select
                            label="Jurusan"
                            v-model="id_jurusan"
                            name="id_jurusan"
                            :items="jurusan"
                            item-value="id_jurusan"
                            item-text="nama_singkat"
                            required></v-select>
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                        <v-select
                            label="Kelas"
                            v-model="id_kelas"
                            name="id_kelas"
                            :items="kelas"
                            item-value="id_kelas"
                            item-text="nama"
                            required></v-select>
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="SiswaDialog = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="LaporanSiswa()"
                :disabled="!valid"
            >Cetak</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>


    <v-dialog
      v-model="PengaduanDialog"
      width="400px"
    >
      <v-card>
        <v-card-title>
            Laporan Pengaduan
        </v-card-title>
        <v-form action="/Laporan/Pengaduan" method="post" v-model="valid" id="FormPengaduan" >
            <v-container>
                    <v-row class="mx-2">
                        <v-textarea
                            :value="csrf"
                            name="_token"
                            v-show="false"
                        />
                        <v-col
                        class="align-center justify-space-between"
                        cols="12">
                            <v-btn
                            color="primary"
                            v-on:click="SemuaPengaduan()">Cetak Semua Pengaduan</v-btn>
                        </v-col>
                        <v-col
                        class="align-center justify-space-between"
                        cols="12"
                        >
                        <v-label>Cetak berdasarkan</v-label>
                        <v-select
                            label="Status"
                            name="status"
                            v-model="value_status"
                            :items="status"
                            item-value="status"
                            item-text="status"
                            required></v-select>
                        <v-label>Tanggal Pengaduan</v-label>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                type="date"
                                v-model="tgl_awal"
                                prepend-icon="mdi-text"
                                name="tgl_awal"
                                label="Tanggal Awal"
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                type="date"
                                v-model="tgl_akhir"
                                prepend-icon="mdi-text"
                                name="tgl_akhir"
                                label="Tanggal Akhir"
                            />
                        </v-col>
                    </v-row>
            </v-container>
            <v-card-actions>
            <v-spacer />
            <v-btn
                text
                @click="PengaduanDialog = false"
            >Batal</v-btn>
            <v-btn
                text
                color="primary"
                v-on:click="LaporanPengaduan()"
                :disabled="!valid"
            >Cetak</v-btn>
            </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                valid: false,
                PengaduanDialog: false,
                SiswaDialog: false,
                tgl_awal: '',
                tgl_akhir: '',
                id_jurusan: 'KJ-001',
                jurusan: [],
                id_kelas: 'KK-001',
                kelas: [],
                id_tingkat: 'KT-001',
                tingkat: [],
                value_status: 'semua',
                status: [
                    {status: 'semua'},
                    {status: 'pending'},
                    {status: 'proses'},
                    {status: 'selesai'},
                ],
                Rules: [
                    (v) => !!v || 'Form harus diisi',
                ],
            }
        },
        methods: {
            getTask() {
                axios.get('/GetTingkat').then(
                    result => {
                        this.tingkat = result.data;
                    }
                );
                axios.get('/GetJurusan').then(
                    result => {
                        this.jurusan = result.data;
                    }
                );
                axios.get('/GetKelas').then(
                    result => {
                        this.kelas = result.data;
                    }
                );
            },
            Petugas() {
                window.location = '/Laporan/Petugas';
            },
            Siswa() {
                this.SiswaDialog = !this.SiswaDialog;
            },
            Pengaduan() {
                this.PengaduanDialog = !this.PengaduanDialog;
            },
            LaporanSiswa() {
                FormSiswa.submit();
            },
            SemuaSiswa() {
                window.location = '/Laporan/Semua/Siswa'
            },
            LaporanPengaduan() {
                FormPengaduan.submit();
            },
            SemuaPengaduan() {
                window.location = '/Laporan/Semua/Pengaduan'
            },
        },
        mounted() {
            this.getTask();
        }
    }
</script>
